.box {
	width: 455px;
	height: 200px;
	border-radius: 8px;
}

.crop-to-fit {
	align-items: center;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.crop-to-fit img {
	width: 455px;
	height: 300px;
	object-fit: fill;
}

.items {
	display: flex;
	justify-content: space-evenly;
}

#buttonIndicator {
	background-color: black;
}
