.navbar-wrapper {
	display: flex;
	justify-content: center;
	background: lightblue;
	align-items: center;

	.navbar-nav {
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: lightgreen;
		.logo {
			margin-right: auto;
		}
		.filter-container {
			border: 1px solid #8e8e93;
			height: 40px;
			padding: 0 10px;
			border-radius: 12px;
			right: 10px;
			position: relative;
			display: flex;
			align-items: center;
			left: 1em;
			.filter {
				color: #8e8e93;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.search-container {
			width: 40%;
			height: 40px;
			border: 1px solid #8e8e93;
			padding: 0px 20px;
			margin-left: 0px;
			border-radius: 23px;
			position: relative;
			.elementContainer {
				width: 100%;
				height: 100%;
				vertical-align: middle;
				.search {
					border: none;
					height: 100%;
					width: 100%;
					padding: 0px 10px;
					border-radius: 23px;
					font-size: medium;
				}
				.search:focus {
					outline: none;
				}
				.material-icons {
					left: 5px;
					top: 3px;
					position: relative;
					color: #8e8e93;
				}
				a {
					text-decoration: none;
				}
			}
		}
		.user-menu {
			display: flex;

			height: 90px;
			align-items: center;
			width: 20%;
			margin-left: auto;

			justify-content: space-evenly;
			.photo-box {
				height: 30px;
				width: 30px;
				display: flex;
				align-items: center;
				border-radius: 50%;
				img {
					width: 30px;
					clip-path: circle();
				}
			}
			.cart-icon {
				color: #8e8e93;
			}
			.notif-icon {
				color: #8e8e93;
			}
			.email-icon {
				color: #8e8e93;
			}
		}
	}
}
.navbar-brand {
	display: none;
}
@media all and (max-width: 766px) {
	.navbar-brand {
		display: flex;
		justify-content: center;
		align-items: center;

		display: block;
	}
	.logo {
		display: none;
	}
}
