@font-face {
	src: url('/Fonts/metropolis.regular.otf');
	font-family: metropolis;
}

body {
	font-family: metropolis;
	margin: 0;
	font-size: 12;
	background: #e5e5e5;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	align-items: center;

	.nav-container {
		background-color: white;

		top: 0; /* Position the navbar at the top of the page */
		width: 100%; /* Full width */
		display: flex;
		height: 90px;
		align-items: center;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		.burger-container {
			.burger {
				display: none;
			}
		}
		.logo {
			margin-right: auto;
		}
		.filter-container {
			border: 1px solid #8e8e93;
			height: 40px;
			padding: 0 10px;
			border-radius: 12px;
			right: 10px;
			position: relative;
			display: flex;
			align-items: center;
			left: 1em;
			.filter {
				color: #8e8e93;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.search-container {
			width: 40%;
			height: 40px;
			border: 1px solid #8e8e93;
			padding: 0px 20px;
			margin-left: 0px;
			border-radius: 23px;
			position: relative;
			.elementContainer {
				width: 100%;
				height: 100%;
				vertical-align: middle;
				.search {
					border: none;
					height: 100%;
					width: 100%;
					padding: 0px 10px;
					border-radius: 23px;
					font-size: medium;
				}
				.search:focus {
					outline: none;
				}
				.material-icons {
					left: 5px;
					top: 3px;
					position: relative;
					color: #8e8e93;
				}
				a {
					text-decoration: none;
				}
			}
		}
		.user-menu {
			display: flex;

			height: 90px;
			align-items: center;
			width: 20%;
			margin-left: auto;

			justify-content: space-evenly;

			.cart-icon {
				color: #8e8e93;
				margin-right: 1em;
				position: relative;
			}
			.button-login {
				background-color: #db3022;
				border-radius: 25px;
				width: 100px;
				height: 36px;
				padding-bottom: 2em;
				position: relative;
				border: none;
			}
			.button-signup {
				background-color: white;
				color: #8e8e93;
				border: 1px solid #8e8e93;
				border-radius: 25px;
				width: 100px;
				height: 36px;
				padding-bottom: 2em;
			}
		}
	}

	.navbar-mobile {
		width: 70%;
		ul {
			li {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				list-style: none;
				padding: 1em;
				border-bottom: 1px solid #8e8e93;
				width: 100%;
				a {
					text-decoration: none;
					color: black;
				}
			}
		}
	}
	.navbar-mobile {
		display: none;
	}
	@media all and (max-width: 760px) {
		.nav-container {
			display: flex;

			height: 90px;
			align-items: center;
			width: 100%;

			justify-content: space-between;
			.logo {
				position: absolute;
			}
			.user-menu {
				display: none;
			}

			.burger-container {
				display: flex;
				align-items: center;
				.burger {
					display: block;
					right: 0px;
					position: absolute;
				}
			}
			.filter-container {
				display: none;
			}
			.search-container {
				display: none;
			}
		}
	}
	@media all and (max-width: 768px) {
		.nav-container {
			display: flex;

			height: 90px;
			align-items: center;
			width: 90%;

			justify-content: space-between;
			.logo {
				position: absolute;
			}

			.search-container {
				margin-left: 170px;
				position: relative;
			}
			.user-menu {
				justify-content: space-between;
			}
		}
		.navbar-mobile {
			display: block;
		}
	}
	@media all and (max-width: 1024px) {
		.nav-container {
			display: flex;

			height: 90px;
			align-items: center;
			width: 90%;

			justify-content: space-between;
			.logo {
				position: absolute;
			}

			.search-container {
				margin-left: 170px;
				position: relative;
			}
			.user-menu {
				justify-content: space-between;
			}
		}
	}
}

.big-container {
	background: #f9f9f9;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	.container-carousel-category {
		padding-top: 40px;
		margin-right: auto;
		margin-left: auto;
		width: 70%;
		//background: yellow;

		.flexbox-container {
			display: flex;
			justify-content: space-evenly;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			padding-top: 30px;
			//background: green;
		}

		h1 {
			padding-left: 1em;
			font-size: 34px;
			top: 20px;
			position: relative;
		}
		p {
			padding-left: 1.8em;
			font-size: 20px;
			top: 20px;
			position: relative;
			color: #8e8e93;
		}
		.carousel-control-prev-icon {
			background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg');
			width: 50px;
			height: 50px;
			right: 50px;
			position: relative;
		}

		.carousel-control-next-icon {
			background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg');
			width: 50px;
			height: 50px;
			left: 50px;
			position: relative;
		}
	}

	.container-carousel-category-mobile {
		display: none;
	}
	.container-carousel-trending-mobile {
		display: none;
	}
	.container-carousel-trending {
		padding-top: 50px;
		width: 70%;
		margin-right: auto;
		margin-left: auto;
		//background: blue;
		.flexbox-container {
			display: flex;
			justify-content: space-around;
			margin-left: auto;
			margin-right: auto;
			//background: lightblue;
		}
		.box {
			width: 500px;
			height: 200px;
			border-radius: 8px;
			background: lightcoral;
		}

		.crop-to-fit {
			align-items: center;
			overflow: hidden;
			display: flex;
			justify-content: center;
		}

		.crop-to-fit img {
			width: 100%;
			height: 300px;
			object-fit: contain;
		}

		.items {
			display: flex;
			justify-content: space-evenly;
		}
		.flex-indicators {
			#buttonIndicator {
				top: 40px;

				background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg');

				position: relative;
			}
		}
		.carousel-control-prev-icon {
			background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg');
			width: 50px;
			height: 50px;
		}

		.carousel-control-next-icon {
			background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg');
			width: 50px;
			height: 50px;
		}
	}
	@media all and (max-width: 1320px) {
		.container-carousel-trending-mobile {
			display: block;
			padding-top: 40px;
			margin-right: auto;
			margin-left: auto;

			width: 70vh;
			.flexbox-container {
				display: flex;
				justify-content: space-evenly;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				padding-top: 30px;
			}

			.box {
				width: 455px;
				height: 200px;
				border-radius: 8px;
			}

			.crop-to-fit {
				align-items: center;
				overflow: hidden;
				display: flex;
				justify-content: center;
			}

			.crop-to-fit img {
				width: 455px;
				height: 300px;
				object-fit: contain;
			}
			.carousel-control-prev-icon {
				background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg');
				width: 50px;
				height: 50px;
				left: 30px;
				position: relative;
			}

			.carousel-control-next-icon {
				background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg');
				width: 50px;
				height: 50px;
				right: 30px;
				position: relative;
			}
		}
		.container-carousel-category-mobile {
			display: block;
			padding-top: 40px;
			margin-right: auto;
			margin-left: auto;

			width: 70vh;
			.flexbox-container {
				display: flex;
				justify-content: space-evenly;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				padding-top: 30px;
			}

			h1 {
				padding-left: 1.3em;
				font-size: 34px;
			}
			p {
				padding-left: 2.3em;
				font-size: 20px;
				color: #8e8e93;
			}
			.carousel-control-prev-icon {
				background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg');
				width: 50px;
				height: 50px;
				left: 30px;
				position: relative;
			}

			.carousel-control-next-icon {
				background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg');
				width: 50px;
				height: 50px;
				right: 30px;
				position: relative;
			}
		}

		.container-carousel-category {
			display: none;
		}
		.container-carousel-trending {
			display: none;
		}
		.container-items {
			h1 {
				position: relative;
				right: 2em;
				font-size: 34px;
			}
			p {
				padding-left: 1.6em;
				position: relative;
				right: 3.2em;
				font-size: 20px;
				color: #8e8e93;
			}
		}
	}
	.container-items {
		padding-top: 50px;
		width: 70%;
		//background: grey;

		h1 {
			padding-left: 1em;
			font-size: 34px;
		}
		p {
			padding-left: 1.6em;
			font-size: 20px;
			color: #8e8e93;
		}
	}
}

.item {
	height: 300px;
	display: flex;
	justify-content: center;
}
