@font-face {
	src: url('/Fonts/metropolis.regular.otf');
	font-family: metropolis;
}

body {
	font-family: metropolis;
	margin: 0;
	font-size: 12;
	background: #e5e5e5;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background: white;
	.nav-menu {
		display: flex;
		justify-content: space-around;
		width: 30%;
		.material-icons {
			color: #8e8e93;
			top: 12px;
			position: relative;
		}
		#btn-login {
			color: white;
			background-color: #db3022;
			border-radius: 25px;
			top: 6px;
			position: relative;
		}
		#btn-signup {
			color: #8e8e93;
			border: 1px solid #8e8e93;
			background-color: white;
			border-radius: 25px;
			top: 6px;
			position: relative;
		}

		a {
			color: black;
			text-decoration: none;
		}
		li {
			list-style: none;
		}
	}
	.burger {
		display: none;
	}
	.search-container {
		width: 30%;
		height: 40px;
		border: 1px solid #8e8e93;
		padding: 0px 20px;
		border-radius: 23px;
		right: 30px;
		position: relative;
		.elementContainer {
			width: 100%;
			height: 100%;
			vertical-align: middle;
			.search {
				border: none;
				height: 100%;
				width: 100%;
				padding: 0px 10px;
				border-radius: 23px;
				font-size: medium;
			}
			.search:focus {
				outline: none;
			}
			.material-icons {
				left: 5px;
				top: 3px;
				position: relative;
				color: #8e8e93;
			}
			a {
				text-decoration: none;
			}
		}
	}
	.filter-container {
		height: 40px;
		border: 1px solid #8e8e93;
		padding: 0 10px;
		border-radius: 12px;
		right: 10px;
		position: relative;
		a {
			text-decoration: none;
		}
		.material-icons {
			color: #8e8e93;
			top: 5px;
			position: relative;
			outline: red;
		}
	}
}

@media screen and (max-width: 1024px) {
	.nav-menu {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	.nav-menu {
		position: absolute;
		//right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: red($color: #000000);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		//transform: translate(100%);
		opacity: 0;
	}

	nav .burger {
		display: block;
	}
	.filter-container {
		display: none;
	}
	.search-container {
		display: none;
	}
}

.big-container {
	background: linear-gradient(#e5e5e5 10px, white);
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	.container-carousel-category {
		padding-top: 40px;
		margin-right: auto;
		margin-left: auto;

		width: 90%;
		.flexbox-container {
			display: flex;
			justify-content: space-evenly;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			padding-top: 30px;
		}

		h1 {
			padding-left: 1.3em;
			font-size: 34px;
		}
		p {
			padding-left: 2.3em;
			font-size: 20px;
			color: #8e8e93;
		}
		.carousel-control-prev-icon {
			background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg');
			width: 50px;
			height: 50px;
		}

		.carousel-control-next-icon {
			background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg');
			width: 50px;
			height: 50px;
		}
	}

	.container-carousel-category-mobile {
		display: none;
	}
	.container-carousel-trending-mobile {
		display: none;
	}
	.container-carousel-trending {
		padding-top: 50px;
		width: 90%;
		margin-right: auto;
		margin-left: auto;

		.flexbox-container {
			display: flex;
			justify-content: space-around;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
		.box {
			width: 455px;
			height: 200px;
			border-radius: 8px;
		}

		.crop-to-fit {
			align-items: center;
			overflow: hidden;
			display: flex;
			justify-content: center;
		}

		.crop-to-fit img {
			width: 455px;
			height: 300px;
			object-fit: fill;
		}

		.items {
			display: flex;
			justify-content: space-evenly;
		}
		.flex-indicators {
			#buttonIndicator {
				top: 40px;

				background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg');

				position: relative;
			}
		}
		.carousel-control-prev-icon {
			background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg');
			width: 50px;
			height: 50px;
		}

		.carousel-control-next-icon {
			background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg');
			width: 50px;
			height: 50px;
		}
	}
	@media all and (max-width: 1320px) {
		body {
			background: red;
		}
		.container-carousel-trending-mobile {
			display: block;
			padding-top: 40px;
			margin-right: auto;
			margin-left: auto;

			width: 70vh;
			.flexbox-container {
				display: flex;
				justify-content: space-evenly;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				padding-top: 30px;
			}

			.box {
				width: 455px;
				height: 200px;
				border-radius: 8px;
			}

			.crop-to-fit {
				align-items: center;
				overflow: hidden;
				display: flex;
				justify-content: center;
			}

			.crop-to-fit img {
				width: 455px;
				height: 300px;
				object-fit: fill;
			}
			.carousel-control-prev-icon {
				background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg');
				width: 50px;
				height: 50px;
				left: 30px;
				position: relative;
			}

			.carousel-control-next-icon {
				background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg');
				width: 50px;
				height: 50px;
				right: 30px;
				position: relative;
			}
		}
		.container-carousel-category-mobile {
			display: block;
			padding-top: 40px;
			margin-right: auto;
			margin-left: auto;

			width: 70vh;
			.flexbox-container {
				display: flex;
				justify-content: space-evenly;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				padding-top: 30px;
			}

			h1 {
				padding-left: 1.3em;
				font-size: 34px;
			}
			p {
				padding-left: 2.3em;
				font-size: 20px;
				color: #8e8e93;
			}
			.carousel-control-prev-icon {
				background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg');
				width: 50px;
				height: 50px;
				left: 30px;
				position: relative;
			}

			.carousel-control-next-icon {
				background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg');
				width: 50px;
				height: 50px;
				right: 30px;
				position: relative;
			}
		}

		.container-carousel-category {
			display: none;
		}
		.container-carousel-trending {
			display: none;
		}
	}
}
