@font-face {
  src: url("/Fonts/metropolis.regular.otf");
  font-family: metropolis;
}

body {
  font-family: metropolis;
  margin: 0;
  font-size: 12;
  background: #e5e5e5;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background: white;
}

nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

nav .nav-menu .material-icons {
  color: #8e8e93;
  top: 12px;
  position: relative;
}

nav .nav-menu #btn-login {
  color: white;
  background-color: #db3022;
  border-radius: 25px;
  top: 6px;
  position: relative;
}

nav .nav-menu #btn-signup {
  color: #8e8e93;
  border: 1px solid #8e8e93;
  background-color: white;
  border-radius: 25px;
  top: 6px;
  position: relative;
}

nav .nav-menu a {
  color: black;
  text-decoration: none;
}

nav .nav-menu li {
  list-style: none;
}

nav .burger {
  display: none;
}

nav .search-container {
  width: 30%;
  height: 40px;
  border: 1px solid #8e8e93;
  padding: 0px 20px;
  border-radius: 23px;
  right: 30px;
  position: relative;
}

nav .search-container .elementContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

nav .search-container .elementContainer .search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 10px;
  border-radius: 23px;
  font-size: medium;
}

nav .search-container .elementContainer .search:focus {
  outline: none;
}

nav .search-container .elementContainer .material-icons {
  left: 5px;
  top: 3px;
  position: relative;
  color: #8e8e93;
}

nav .search-container .elementContainer a {
  text-decoration: none;
}

nav .filter-container {
  height: 40px;
  border: 1px solid #8e8e93;
  padding: 0 10px;
  border-radius: 12px;
  right: 10px;
  position: relative;
}

nav .filter-container a {
  text-decoration: none;
}

nav .filter-container .material-icons {
  color: #8e8e93;
  top: 5px;
  position: relative;
  outline: red;
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    height: 92vh;
    top: 8vh;
    background-color: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    opacity: 0;
  }
  nav .burger {
    display: block;
  }
  .filter-container {
    display: none;
  }
  .search-container {
    display: none;
  }
}

.big-container {
  background: linear-gradient(#e5e5e5 10px, white);
}

.big-container .container-carousel-category {
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.big-container .container-carousel-category .flexbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.big-container .container-carousel-category h1 {
  padding-left: 1.3em;
  font-size: 34px;
}

.big-container .container-carousel-category p {
  padding-left: 2.3em;
  font-size: 20px;
  color: #8e8e93;
}

.big-container .container-carousel-category .carousel-control-prev-icon {
  background-image: url("https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg");
  width: 50px;
  height: 50px;
}

.big-container .container-carousel-category .carousel-control-next-icon {
  background-image: url("https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg");
  width: 50px;
  height: 50px;
}

.big-container .container-carousel-category-mobile {
  display: none;
}

.big-container .container-carousel-trending-mobile {
  display: none;
}

.big-container .container-carousel-trending {
  padding-top: 50px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.big-container .container-carousel-trending .flexbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.big-container .container-carousel-trending .box {
  width: 455px;
  height: 200px;
  border-radius: 8px;
}

.big-container .container-carousel-trending .crop-to-fit {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big-container .container-carousel-trending .crop-to-fit img {
  width: 455px;
  height: 300px;
  -o-object-fit: fill;
     object-fit: fill;
}

.big-container .container-carousel-trending .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.big-container .container-carousel-trending .flex-indicators #buttonIndicator {
  top: 40px;
  background-image: url("https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg");
  position: relative;
}

.big-container .container-carousel-trending .carousel-control-prev-icon {
  background-image: url("https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg");
  width: 50px;
  height: 50px;
}

.big-container .container-carousel-trending .carousel-control-next-icon {
  background-image: url("https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg");
  width: 50px;
  height: 50px;
}

@media all and (max-width: 1320px) {
  .big-container .container-carousel-trending-mobile {
    padding-top: 50px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .big-container .container-carousel-trending-mobile .box {
    width: 455px;
    height: 200px;
    border-radius: 8px;
  }
  .big-container .container-carousel-trending-mobile .crop-to-fit {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .big-container .container-carousel-trending-mobile .crop-to-fit img {
    width: 455px;
    height: 300px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .big-container .container-carousel-trending-mobile .carousel-control-prev-icon {
    background-image: url("https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg");
    width: 50px;
    height: 50px;
  }
  .big-container .container-carousel-trending-mobile .carousel-control-next-icon {
    background-image: url("https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg");
    width: 50px;
    height: 50px;
  }
  .big-container .container-carousel-category-mobile {
    display: block;
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
  .big-container .container-carousel-category-mobile .flexbox-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
  .big-container .container-carousel-category-mobile h1 {
    padding-left: 1.3em;
    font-size: 34px;
  }
  .big-container .container-carousel-category-mobile p {
    padding-left: 2.3em;
    font-size: 20px;
    color: #8e8e93;
  }
  .big-container .container-carousel-category-mobile .carousel-control-prev-icon {
    background-image: url("https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg");
    width: 50px;
    height: 50px;
  }
  .big-container .container-carousel-category-mobile .carousel-control-next-icon {
    background-image: url("https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg");
    width: 50px;
    height: 50px;
  }
  .big-container .container-carousel-category {
    display: none;
  }
  .big-container .container-carousel-trending {
    display: none;
  }
}
/*# sourceMappingURL=style-home.css.map */