@font-face {
  src: url("/Fonts/metropolis.regular.otf");
  font-family: metropolis;
}

* {
  font-family: metropolis;
  font-size: 16px;
  font-weight: 500px;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-wrapper .navbar-nav {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-wrapper .navbar-nav .tools-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.navbar-wrapper .navbar-nav .tools-wrapper .filter-container {
  border: 1px solid #8e8e93;
  height: 40px;
  padding: 0 10px;
  border-radius: 12px;
  right: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 1em;
}

.navbar-wrapper .navbar-nav .tools-wrapper .filter-container .filter {
  color: #8e8e93;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper .navbar-nav .tools-wrapper .search-container {
  height: 40px;
  border: 1px solid #8e8e93;
  width: 100%;
  padding: 0px 20px;
  margin-left: 20px;
  border-radius: 23px;
  position: relative;
}

.navbar-wrapper .navbar-nav .tools-wrapper .search-container .elementContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.navbar-wrapper .navbar-nav .tools-wrapper .search-container .elementContainer .search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 10px;
  border-radius: 23px;
  font-size: medium;
}

.navbar-wrapper .navbar-nav .tools-wrapper .search-container .elementContainer .search:focus {
  outline: none;
}

.navbar-wrapper .navbar-nav .tools-wrapper .search-container .elementContainer .material-icons {
  left: 5px;
  top: 3px;
  position: relative;
  color: #8e8e93;
}

.navbar-wrapper .navbar-nav .tools-wrapper .search-container .elementContainer a {
  text-decoration: none;
}

.navbar-wrapper .navbar-nav .user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin-left: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar-wrapper .navbar-nav .user-menu .photo-box {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.navbar-wrapper .navbar-nav .user-menu .photo-box img {
  width: 30px;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.navbar-wrapper .navbar-nav .user-menu .cart-icon {
  color: #8e8e93;
}

.navbar-wrapper .navbar-nav .user-menu .notif-icon {
  color: #8e8e93;
}

.navbar-wrapper .navbar-nav .user-menu .email-icon {
  color: #8e8e93;
}

.navbar-brand {
  display: none;
}

.navbar-mobile {
  height: 100vh;
}

.navbar-mobile h1 {
  font-size: 16px;
}

.navbar-mobile {
  display: none;
}

@media all and (max-width: 766px) {
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
  }
  .navbar-mobile {
    display: block;
  }
}

.big-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.big-container .bag-container {
  height: 100vh;
  width: 100vh;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 900px) {
  .big-container .bag-container {
    width: 100%;
  }
}

@media all and (max-width: 1438px) {
  .big-container .bag-container .right-container {
    display: none;
  }
  .big-container .bag-container .shopping-summary-mobile {
    display: block;
  }
}

.big-container .bag-container h1 {
  font-weight: bold;
  font-size: 34px;
}

.big-container .bag-container .left-container .select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 720px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-top: 30px;
  height: 70px;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  color: #8e8e93;
}

.big-container .bag-container .left-container .select-container .wrap-checkbox-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-container .bag-container .left-container .select-container .wrap-checkbox-desc .check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background: #db3022;
}

.big-container .bag-container .left-container .select-container .wrap-checkbox-desc .check-box .check-icon {
  color: white;
}

.big-container .bag-container .left-container .select-container .wrap-checkbox-desc .select-items {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 10px;
  position: relative;
  margin-left: 1em;
}

.big-container .bag-container .left-container .select-container .wrap-checkbox-desc .select-items p {
  top: 23px;
  position: relative;
  color: black;
  font-weight: bold;
}

.big-container .bag-container .left-container .select-container .delete-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  margin-right: 1em;
}

.big-container .bag-container .left-container .select-container .delete-box p {
  top: 23px;
  position: relative;
  color: #db3022;
  font-weight: 500;
}

.big-container .bag-container .left-container .items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 720px;
  height: 120px;
}

.big-container .bag-container .left-container .items-container .item1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  color: #8e8e93;
  border-radius: 4px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.big-container .bag-container .left-container .items-container .item1-container .wrap-checkbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-container .bag-container .left-container .items-container .item1-container .wrap-checkbox-item .check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.7em;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background: #db3022;
}

.big-container .bag-container .left-container .items-container .item1-container .wrap-checkbox-item .check-box .check-icon {
  color: white;
}

.big-container .bag-container .left-container .items-container .item1-container .wrap-checkbox-item .item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: black;
}

.big-container .bag-container .left-container .items-container .item1-container .wrap-checkbox-item .item-desc h1 {
  font-size: 16px;
  color: black;
}

.big-container .bag-container .left-container .items-container .item1-container .wrap-checkbox-item .item-desc p {
  font-size: 12px;
  color: #8e8e93;
}

.big-container .bag-container .left-container .items-container .item1-container .wrap-checkbox-item .photo-box {
  width: 110px;
  height: 71px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-container .bag-container .left-container .items-container .item1-container .wrap-checkbox-item .photo-box img {
  margin-left: 1.2em;
}

.big-container .bag-container .left-container .items-container .item1-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 112px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-container .bag-container .left-container .items-container .item1-container .button-container h1 {
  top: 5px;
  position: relative;
  font-size: 16px;
  color: black;
}

.big-container .bag-container .left-container .items-container .item1-container .button-container .remove-icon {
  width: 36px;
  height: 36px;
  background: #d4d4d4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.big-container .bag-container .left-container .items-container .item1-container .button-container .add-icon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 5px;
          box-shadow: 0px 0px 5px;
  color: #8e8e93;
}

.big-container .bag-container .left-container .items-container .item1-container .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  height: 70px;
  margin-right: 3em;
}

.big-container .bag-container .left-container .items-container .item1-container .price h1 {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.big-container .bag-container .left-container .items-container .item2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  color: #8e8e93;
  border-radius: 4px;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 720px;
}

.big-container .bag-container .left-container .items-container .item2-container .wrap-checkbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-container .bag-container .left-container .items-container .item2-container .wrap-checkbox-item .check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.7em;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background: #db3022;
}

.big-container .bag-container .left-container .items-container .item2-container .wrap-checkbox-item .check-box .check-icon {
  color: white;
}

.big-container .bag-container .left-container .items-container .item2-container .wrap-checkbox-item .item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: black;
}

.big-container .bag-container .left-container .items-container .item2-container .wrap-checkbox-item .item-desc h1 {
  font-size: 16px;
  color: black;
}

.big-container .bag-container .left-container .items-container .item2-container .wrap-checkbox-item .item-desc p {
  font-size: 12px;
  color: #8e8e93;
}

.big-container .bag-container .left-container .items-container .item2-container .wrap-checkbox-item .photo-box {
  width: 110px;
  height: 71px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-container .bag-container .left-container .items-container .item2-container .wrap-checkbox-item .photo-box img {
  margin-left: 1.2em;
}

.big-container .bag-container .left-container .items-container .item2-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 112px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-container .bag-container .left-container .items-container .item2-container .button-container h1 {
  top: 5px;
  position: relative;
  font-size: 16px;
  color: black;
}

.big-container .bag-container .left-container .items-container .item2-container .button-container .remove-icon {
  width: 36px;
  height: 36px;
  background: #d4d4d4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.big-container .bag-container .left-container .items-container .item2-container .button-container .add-icon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 5px;
          box-shadow: 0px 0px 5px;
  color: #8e8e93;
}

.big-container .bag-container .left-container .items-container .item2-container .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  height: 70px;
  margin-right: 3em;
}

.big-container .bag-container .left-container .items-container .item2-container .price h1 {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.big-container .bag-container .left-container .shopping-summary-mobile {
  padding: 24px;
  margin-top: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 720px;
  height: 140px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  color: #8e8e93;
  top: 75px;
}

.big-container .bag-container .left-container .shopping-summary-mobile h1 {
  font-size: 16px;
  color: black;
}

.big-container .bag-container .left-container .shopping-summary-mobile .total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-container .bag-container .left-container .shopping-summary-mobile .total-price-text p {
  color: #8e8e93;
}

.big-container .bag-container .left-container .shopping-summary-mobile .price {
  right: 1.5em;
  position: relative;
}

.big-container .bag-container .left-container .shopping-summary-mobile .price h1 {
  font-size: 18px;
}

.big-container .bag-container .left-container .shopping-summary-mobile .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-container .bag-container .left-container .shopping-summary-mobile .button .buy-button {
  border-radius: 25px;
  background: #db3022;
  border: none;
  width: 50%;
}

.big-container .bag-container .left-container .shopping-summary-mobile {
  display: none;
}

@media all and (max-width: 1438px) {
  .big-container .bag-container .left-container .shopping-summary-mobile {
    display: block;
  }
}

.big-container .bag-container .right-container .shopping-summary {
  padding: 24px;
  top: 75px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 370px;
  height: 200px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  color: #8e8e93;
}

.big-container .bag-container .right-container .shopping-summary h1 {
  font-size: 16px;
  color: black;
}

.big-container .bag-container .right-container .shopping-summary .total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-container .bag-container .right-container .shopping-summary .total-price-text p {
  color: #8e8e93;
}

.big-container .bag-container .right-container .shopping-summary .price h1 {
  font-size: 18px;
}

.big-container .bag-container .right-container .shopping-summary .buy-button {
  border-radius: 25px;
  background: #db3022;
  border: none;
}
/*# sourceMappingURL=style-bag.css.map */